<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>{{.metatitle}}</title>

    <!-- Add custom CSS here -->
    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body> 
{{yield}}
  
    <!-- JavaScript -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/main.js"></script>

  </body>
</html>
